<!-- <section>
    <img src="./../../assets/img/logo.svg" alt="" class="ImgLogo">
    <div class="ContenedorSection">
        <div class="ContUno">
            <p class="TituloSolicita one">Solicita la ayuda</p>
            <p class="SubtituloRegis two">Registate para solicitar ayuda</p>
        </div>
        <div class="ContDos">
            <img src="./../../assets/img/aggfoto.svg" alt="Agregar foto"id="imgAgg">
            <p class="ClasGeneralFont">Agregar foto</p>
        </div>
        <form action="" id="form" method="POST">
            <div class="form">
                <div class="grupo">
                    <label for="" class="ClasGeneralFont">Nombre y apellidos completos</label>
                    <input type="text" id="name" required>
                </div>
                <div class="grupo">
                    <label for="" class="ClasGeneralFont">Numero de identificación</label>
                    <input type="text" id="name" required>
                </div>
                <div class="grupo">
                    <label for="" class="ClasGeneralFont">Ubicación o lugar de residencia</label>
                    <input type="text" id="name" required>
                </div>
                <div class="grupo">
                    <label for="" class="ClasGeneralFont">Correo electronico</label>
                    <input type="email" id="name" required>
                </div>
                <div class="grupo">
                    <label for="" class="ClasGeneralFont">Ciudad</label>
                    <input type="text" id="name" required>
                </div>
                <div class="grupo">
                    <label for="" class="ClasGeneralFont">Departamento</label>
                    <input type="text" id="name" required>
                </div>
                <div class="grupo">
                    <label for="" class="ClasGeneralFont">Zona</label>
                    <input type="text" id="name" required>
                </div>
                <div class="ContBtn">
                    <button id="Btn">
                        <p class="one">SOLICITAR AYUDA</p>
                    </button>
                    <p class="TxtBtn two">Por favor llenar todos los campos para poder solicitar la ayuda</p>
                </div>
            </div>
        </form>
    </div>
</section> -->

<section>
    <div class="ContenedorSection">
        <div class="ContImge">
            <div class="ContUno">
                <p class="TituloSolicita one">Solicita la ayuda</p>
                <p class="SubtituloRegis two">Registate para solicitar ayuda</p>
            </div>
            <img src="./../../assets/img/logo.svg" alt="" class="ImgLogo">
        </div>
        <div>
            <form action="" id="form" method="POST">
                <div class="form">
                    <div class="grupo">
                        <label for="" class="ClasGeneralFont">Nombre y apellidos completos</label>
                        <input type="text" id="name" required>
                    </div>
                    <div class="ContGrupo">
                        <div class="grupo">
                            <label for="" class="ClasGeneralFont">Numero de identificación</label>
                            <input type="text" id="name" required class="inputs">
                        </div>
                        <div class="grupo">
                            <label for="" class="ClasGeneralFont">Ubicación o lugar de residencia</label>
                            <input type="text" id="name" required class="inputs">
                        </div>
                        <div class="grupo">
                            <label for="" class="ClasGeneralFont">Correo electronico</label>
                            <input type="email" id="name" required class="inputs inpust2">
                        </div>
                </div>

                    <div class="ContGrupo">
                        <div class="grupo">
                            <label for="" class="ClasGeneralFont">Ciudad</label>
                            <input type="text" id="name" required class="inputs">
                        </div>
                        <div class="grupo">
                            <label for="" class="ClasGeneralFont">Departamento</label>
                            <input type="text" id="name" required class="inputs">
                        </div>
                        <div class="grupo">
                            <label for="" class="ClasGeneralFont">Zona</label>
                            <input type="text" id="name" required class="inputs inpust2">
                        </div>
                    </div>
                </div>
            </form>
            <div class="ContBtnAgg">
                <div class="ContDos">
                    <img src="./../../assets/img/aggfoto.svg" alt="Agregar foto"id="imgAgg">
                    <p class="ClasGeneralFont">Agregar foto</p>
                </div>
                <div class="ContBtn">
                    <button id="Btn">
                        <p class="one">SOLICITAR AYUDA</p>
                    </button>
                    <p class="TxtBtn two">Por favor llenar todos los campos para poder solicitar la ayuda</p>
                </div>
            </div>
        </div>
    </div>
</section>